<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Content</title>
</head>
<body>
  <div class="container">
     <hr class="w-50">
     <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="media">
                <img src="../../assets/images/clock.webp" class="mr-3 w-25" alt="">
                <div class="media-body">
                    <h5 class="mt-4">Strict Dealines</h5>
                </div>
            </div>
            <p class="ml-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="media">
                <img src="../../assets/images/calendar.webp" class="mr-3 w-25" alt="">
                <div class="media-body">
                    <h5 class="mt-4">Best pricing</h5>
                </div>
            </div>
            <p class="ml-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen
                book.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="media">
                <img src="../../assets/images/pie-chart.png" class="mr-3 w-25" alt="">
                <div class="media-body">
                    <h5 class="mt-4">High quality</h5>
                </div>
            </div>
            <p class="ml-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen
                book.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <img src="../../assets/images/company.jpeg" class="mr-3 w-100" alt="">
            <h1>Recent 1</h1>
            <p class="ml-2">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type 
              specimen book.
            </p>
            <button type="button" class="btn btn-secondary p-2">Read more</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <img src="../../assets/images/company_2.jpg" class="mr-3 w-100" alt="">
            <h1>Recent 2</h1>
            <p class="ml-2">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
              specimen book.
            </p>
            <button type="button" class="btn btn-secondary p-2">Read more</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <img src="../../assets/images/teamwork_company.jpg" class="mr-3 w-100" alt="">
            <h1>Recent 3</h1>
            <p class="ml-2">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
              a type specimen book.
            </p>
            <button type="button" class="btn btn-secondary p-2">Read more</button>
        </div>
     </div>   
  </div>
</body>
</html>