html{
 overflow-x:hidden;
 overflow-y:scroll;
}

.navbar-brand{
  text-transform:uppercase;
}

.menu{
  background-color:#0f201c !important;
}

.nav-link{
  color:aquamarine !important;
}

.nav-link:hover{
  width:100%;
  height:20%;
  background-color:#002931 !important;
}

.content{
  width:100%;
  height:auto;
  background-color:#0f201c !important;
}