<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footer</title>
</head>
<body>
  <div class="container mt-1">
     <div class="footer">
       <div class="row ml-2">
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
           <a>Home</a>
           <a class="ml-4">About</a>
           <a class="ml-4">Portfolio</a>
           <a class="ml-4">Services</a>
           <a class="ml-4">Blog</a>
           <a class="ml-4">Contact</a>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <p>
              copyright<i class="far fa-copyright"></i> 2010 Allright reserved
            </p>
         </div>
       </div>
     </div>  
  </div>
</body>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</html>